<div class="min-height-300 bg-dark position-absolute w-100"></div>

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" style="color:white !important;">
    <div class="container-fluid py-1 px-3" style="display:flex; align-items:center;color:white !important;">
      
        <nav >
            <div class="right" style="display:flex;align-items:center;justify-content:space-around">
                <i class="fa-solid fa-user" style="padding:10px;background-color:white;border-radius:100px;color:black;margin-right:15px;"></i>
                <h3 style="color:white !important;font-size:20px">Login</h3>
            </div>
        </nav>
    </div>
</nav>
